@use './styles/theme';

body {
  margin: 0;
  background: radial-gradient(circle at 20% 20%, #0b1220, #0a0f1a 55%, #080c16);
  color: theme.$text;
  font-family: BlinkMacSystemFont, serif;
  min-height: 100vh;
}
